<h2><%= @jobpost.title %></h2>
<p><%= @jobpost.description %></p>
<hr>
<%= link_to "Edit", edit_jobpost_path(@jobpost), :class => 'btn btn-primary' %>
<%= link_to "Delete", jobpost_path(@jobpost), 
                method: :delete,
                data: {confirm: 'Are you sure?'},
                :class => 'btn btn-danger' %>
<hr>